---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono:wght@300;600');

body {
  padding:8% 0px;
  margin:0px;
  background-color: #101010;
  text-align: center;
  font-family: "Noto Sans Mono";
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  line-height: 1.4;
  color: #acacac;
}

h3, h4, h5, h6 {
  color: #ad871e;
}

.wrap {
  margin: 0px auto;
  width: 800px;
}

.container {
  float:right;
  width:560px;
  padding: 15px 20px;
}
.footer {
  text-align:center;
  clear:both;
}

.sidebar {
  overflow: hidden;
  float: left;
  text-align:right;
  width: 200px;
}

.sidebar img {
  display: block;
  width: 188px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar h1{
   display: block;
   padding: 10px 0 0 0;
   color: #eee;
   letter-spacing: 2px;
   margin: 0;
   font-size: 18px;
   text-transform: uppercase;
   text-align: center;
}

.sidebar a {
   display: block;
   padding: 10px 20px;
   letter-spacing: 2px;
   font-size: 16px;
   text-align: right;
   text-transform: uppercase;
}

.sidebar a:hover {
   color: #fff;
}

.sidebar a:hover > img {
  filter: brightness(150%);
}

.social {
  text-align: center;
}

.menu-item {
   color: #cda73e;
}

.social a {
  display: inline-block;
  color: #5b7bd5;
  font-size: 13pt;
  padding: 10px 5px;
}

.container a {
  color: #bbb;
  text-decoration: underline;
  font-weight: 600;
}

.container a:hover {
  color: #fff;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure {
    margin-bottom: 30px;
}

figcaption {
  width: 90%;
  font-size: 13px;
  margin: 10px auto 10px auto;
}

@media screen and (max-width: 800px) {
  .wrap {
    width: 100%;
    font-size: 10pt;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    text-align: center;
  }
  .container {
    width: 80%;
    position: relative;
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
  figcaption {
    font-size: 10pt;
  }
}
