<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.my_name }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
  </head>
  <body>
      <div class="wrap">
          <div class="sidebar">
              <img src="{{  site.photo | relative_url}}" width=200 alt="Logo" />
              <h1><a href="/index" title="Hello">{{ site.my_name }}</a></h1>
              <div class="social">
                  <a href="{{ site.github }}" title="github" target="_blank"><i class="fa fa-github"></i></a>
                  <a href="{{ site.twitter }}" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="{{ site.mastodon }}" title="mastodon" target="_blank"><i class="fa fa-brands fa-mastodon"></i></a>
                  <a href="{{ site.linkedin }}" title="linked-in" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <!--<a href="" title="{{ site.orcid }}" target="_blank"><i class="fa fa-orcid"></i></a>-->
              </div>
              <a href="/software" title="Software">Software</a>
              <a href="/music" title="Music">Music</a>
              <a href="/science-tech-art" title="Science, Technology & Art">Science<br>Technology<br>& Art</a>
          </div>
          <div class="container">
              {{ content }}
          </div>
          <div id="footer"></div>
      </div>
  </body>
</html>
